*{
    margin:0px;
    padding:0px;
}
:root{
    --navbar-height:60px;
}

#logo img{
    height:60px;
    width:95px;
    margin:10px 20px;
}

#navbar{
    display:flex;
    position:relative;
    align-items: center;
    top:0px;
}
#navbar ul{
    display:flex;
}
#navbar::before{
    content: "";
    background-color:rgba(14, 13, 13, 0.817);
    position: absolute;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 40%;
}
#navbar ul li {
    list-style:none;
    font-size:1rem;
    font-style:italic;
}
#navbar ul li a{
    display:block;
    color:rgb(249, 249, 250);
    padding:10px;
    border-radius:20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    color:black;
    font-weight: 200;
    padding:10px 150px;
    justify-content: center;
    align-items: center;
    height:300px;
}
#home::before{
    content:"";
    background: url("../images/ecom2.jpg") no-repeat center center /cover;
    position:absolute;
    top:0px;
    left:0px;
    height:500px;
    width: 100%;
    z-index: -1;
    opacity:85%;
}
#home h1{
    color:#1F2937 ;
    text-align: center;
    font-size: 2rem;

}

#home p{
    color:#1F2937 ;
    text-align: center;
    font-size: 1.5rem;
    margin:1px;
    line-height: 25px;
    font-weight: 400;
}
.btn{
    color: white;
    background-color: rgb(100, 173, 212);
    border:2px solid white;
    border-radius: 25px;
    margin:17px;
    padding:5px;
    cursor: pointer;
    font-size: 1rem;
    
}
.btn:hover{
    color:black;
    background-color:white;
}
.center{
    text-align: center;
}
#services{
    margin: 20px;
    display:flex;
}
#services .box{
    border: 2px solid rgb(55, 114, 154);
    padding:25px;
    margin: 2px 4px;
    border-radius: 10px;
    background-color: rgb(141, 199, 212);
    transition: all 0.8s ease-in-out;
    transition-duration: 1s;
}

#services .box img{
    height: 150px;
    display:block;
    margin: auto;
}
#services .box p{
    font-family: 'Times New Roman', Times, serif;
}
.h-primary{
    margin-top: 90px;
    padding-top:25px;
}

#services .box:hover{
    transform: scale(0.9);
    background-color: aliceblue;
}

#product-section{
    position: relative;
    margin-bottom: 35px;
    height:auto;
}
#products-section::before{
    content:"";
    position: absolute;
    background: url('../images/ecomproductbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:35%;
    z-index: -1;
    opacity:95%;
}
#products img{
    height:110px;
    border-radius: 20px;
    padding:5px;
}
.items{
    padding:14px;

}
#products{
    display:flex;
    justify-content: center;
    align-items:center;
}
#products-section h1{
    color:black;
    align-items:center;
    font-size: 2rem;
}
.form-group{
    text-align: center;
    justify-content: center;
    display:block;
    width:175px;
    padding:2px;
    margin:auto;
    font-size: 20px;
    border-radius: 10px;
}
#contact .btn{
    display: block;
    text-align: center;
    width:175px;
    padding:2px;
    margin: 5px auto;
    font-size: 20px;
    border-radius: 10px;
}
#contact .btn:hover{
    color:white;
    background-color: white;
}
#contact::before{
    content:"";
    position: absolute;
    background: url('../images/ecomcontact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:75%;
    z-index: -1;
    opacity:90%;
}

footer{
    background-color: black;
    color:white;
    padding: 2px;
    margin: 0px;
    margin-top: 30px;
}

/* animations  */

#products img{
    animation: kalluru;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes kalluru {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
    }
    260%{
        transform: rotate(180deg);
    }
}